* /* reset */ {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', sans-serif;
}
.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
}


.navbar {
    background-color: #ffffff;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
  display:flex;
  align-items:center;
  gap:12px;
  font-weight:9;
  font-size:28px;
  color:#000;
}

.logo img {
    padding-right: 0;
    width: 50px;
    height: 50px;
}
.navbar span{
    display:flex;
    align-items:right;
    gap:12px;
    font-weight: 900;
    font-size: 28px;
    color: #000;
}

.navbar .menu{
  display:flex;
  align-items:center;
  gap:35px;
}

.navbar a {
    color: #000;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.5px;
}
.navbar a:hover {
    color: #12d2a2;
}

.button {
    background-color: #000;
    color: #fff !important;
    border: none;
    padding: 12px 22px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
}
.button:hover {
    background-color: #8dccac;
    color: #1aebe8;
    transition: all 0.3s ease-in-out;
}
.hero {
  display: flex;    
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ddd;        
  border-radius: 12px;
  padding: 40px;
  margin: 0 40px;
}

.hero-text {
  max-width: 430px;
}

.hero-text h1 {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 800;
}

.highlight {
  background: #ffe14d;
  padding: 0 8px;
}

.hero-text p {
  margin: 18px 0 28px 0;
  color: #555;
  font-size: 14px;
}

.btn-shop {
  background: #111;
  color: #fff;
  border: none;
  padding: 14px 32px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
}

.hero-img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 12px;
}
.brands {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffe14d;
  padding: 22px 40px;
  margin: 30px 40px;
  border-radius: 12px;
  flex-wrap: wrap; 
}

.brands span {
  font-weight: bold;
  font-size: 17px;
}

.new-arrivals {
  padding: 0 40px;
  font-size: 20px;
  letter-spacing: 1px;
}

h4 {
  padding: 20px 40px;
  color: #777;
  font-weight: 400;
}

/*  Diseño Responsivo para Móviles */
@media (max-width: 700px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
  .menu {
    display: none;
  }
  .brands, .new-arrivals {
    padding-left: 20px;
    padding-right: 20px;
  }
}
